<h1>Comments#index</h1>
<p><%= @message %></p>
<p>
    <a href="/comments/add">
        Add
    </a>
<p>
<table>
    <tr>
        <th>Id</th>
        <th>Comment</th>
        <th>Person</th>
        <th>Message</th>
        <th></th>
    </tr>
    <% @data.each do |object| %>
    <tr>
        <td><%= object.id %></td>
        <td>
            <a href="/comments/<%= object.id %>">
                <%= object.comment %>
            </a>
        </td>
        <td>
            <a href="/people/<%= object.person.id %>">
                <%= object.person.name %>
            </a>
        </td>
        <td>
            <a href="/messages/<%= object.message.id %>">
                <%= object.message.title %>
            </a>
        </td>
        <td>
            <a href="/comments/edit/<%= object.id %>">
                Edit
            </a>
        </td>
        <td>
            <a href="javascript:deleteData(<%= object.id %>);">
                Delete
            </a>
        </td>
    </tr>
    <% end %>
</table>
<script>
function deleteData(id) {
    if (confirm('このコメントを削除しますか？')) {
        document.location = `/comments/delete/${id}`;
    }
    return false;
}
</script>
