<h1>Comennts#show</h1>
<p><%= @messgae %></p>
<p>
    <a href="/comments">
        コメント一覧へ戻る
    </a>
</p>
<table>
    <tr>
        <th>Id</th>
        <td><%= @data.id %></td>
    </tr>
    <tr>
        <th>Person</th>
        <td>
            <a href="/people/<%= @data.person.id %>">
                <%= @data.person.name %>
            </a>
        </td>
    </tr>
    <tr>
        <th>Message</th>
        <td>
            <a href="/messages/<%= @data.message.id %>">
                <%= @data.message.message %>
            </a>
        </td>
    </tr>
    <tr>
        <th>comment</th>
        <td><%= @data.comment %></td>
    </tr>
    <tr>
        <th>created</th>
        <td><%= @data.created_at %></td>
    </tr>
</table>
