<h1>People#edit</h1>
<p><%= @message %></p>
<p>
    <a href="/people">
        人物一覧へ戻る
    </a>
</p>
<%= form_for(@person, url: {controller: 'people', action: 'update', id: @person.id}) do |form| %>
    <div>
        <label for="name">Name</label>
        <%= form.text_field :name %>
    </div>
    <div>
        <label for="age">Age</label>
        <%= form.text_field :age %>
    </div>
    <div>
        <label for="mail">Mail</label>
        <%= form.text_field :mail %>
    </div>
    <%= form.submit %>
<% end %>
