<h1>People#show</h1>
<p>
    <a href="/people">
        人物一覧へ戻る
    </a>
</p>
<p><%= @message %></p>
<table>
    <tr>
        <th>Id</th>
        <td><%= @data.id %></td>
    </tr>
    <tr>
        <th>Name</th>
        <td><%= @data.name %></td>
    </tr>
    <tr>
        <th>Age</th>
        <td><%= @data.age %></td>
    </tr>
    <tr>
        <th>Mail</th>
        <td><%= @data.mail %></td>
    </tr>
    <tr>
        <th>Message</th>
        <td>
        <% if @data.message != nil then %>
            <% @data.message.each do |object| %>
                  「<a href="/messages/<%= object.id %>"><%= object.title %></a>」
            <% end %>
        <% end %>
        </td>
    </tr>
</table>
